@model IEnumerable<Department>

<table class="table">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Number of Employees</th>
            <th>Manager ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.NumberOfEmployees</td>
                <td>@item.ManagerId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

