@model IEnumerable<Employee>

<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Employment Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Position</td>
                <td>@item.Department.DepartmentName</td>
                <td>@item.EmploymentDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

